<div>


    <div class="col-8">
        <h1>Capitan america</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto rerum ducimus explicabo praesentium
            iusto quas ut harum officiis est minima. Officia quam maiores accusamus recusandae explicabo molestiae
            magnam officiis ea.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/captain.png">
    </div>

</div>